.contentDiv {
    display: flex;
    align-items: center;
    margin: 20px 116px;
}

.addTaskHeader {
    font-size: 61px;
    font-weight: 700;
}

.addTaskForm {
    margin-left: 116px;
}

.addTaskFormContent {
    display: flex;
}

.addTaskFormContentLeft {
    display: flex;
    flex-direction: column;
    width: 422px;
}

.addTaskDivTitle {
    display: flex;
    flex-direction: column;
    height: 104px;
    gap: 8px;
    margin-bottom: 10px;
}

 .addTaskInputHead {
    font-weight: 400;
    font-size: 21px;
}

.addTaskInputTitle {
    margin: 0 !important;
    cursor: text !important;
}

.addTaskDivDescription {
    display: flex;
    flex-direction: column;
    height: 172px;
    gap: 8px;
    margin-bottom: 10px;
}

.addTaskInputDescription {
    box-sizing: border-box;
    height: 119px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 18px;
    padding-bottom: 18px;
    gap: 10px;
    resize: none;
    cursor: text;
}

.addTaskInputDescription::placeholder {
    color: #d1d1d1;
}

.addTaskDivCategory {
    display: flex;
    flex-direction: column;
    min-height: 104px;
    gap: 8px;
    margin-bottom: 10px;
}

.selectBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    padding: 5px 10px;
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
}

.selectBox:hover {
    cursor: pointer;
}

.selectCategory {
    margin-bottom: 10px;
}

.chooseCategory {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    width: 422px;
    min-height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
}

.chooseBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chooseOptions {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chooseOptions:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 209);
}

.chooseBox:hover {
    cursor: pointer;
}

.addNewCategoryInput {
    margin: 0;
    padding: 0;
    cursor: text;
    border: none;
    background-color: transparent;
    width: 300px;
}

.addNewCategoryInput:focus {
    outline: none;
}

.addNewCategoryContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 21px;
    max-width: 422px;
    height: 51px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    background-color: white;
}

.addNewCategoryContainerIcons {
    display: flex;
    align-items: center;
    padding-right: 21px;
}

.dividingLineCategory {
    border: 1px solid #D1D1D1;
    height: 25px;
    margin-right: 10.75px;
    margin-left: 5px;
}

.xIconCategory {
    display: flex;
    align-items: center;
}

.xIconCategory:hover {
    cursor: pointer;
}

.hookIconCategory:hover {
    cursor: pointer;
}

.addTaskDivAssign {
    display: flex;
    flex-direction: column;
    height: 104px;
    gap: 8px;
    margin-bottom: 10px;
}

.addTaskFormContentMiddle {
    border: 1px solid #D1D1D1;
    margin-left: 70px;
    margin-right: 70px;
}

.addTaskFormContentRight {
    display: flex;
    flex-direction: column;
    width: 422px;
}

.addTaskDivDate {
    display: flex;
    flex-direction: column;
    height: 104px;
    gap: 8px;
    margin-bottom: 10px;
}

.addTaskInputDate {
    margin: 0 !important;
}

.addTaskDivPrio {
    display: flex;
    flex-direction: column;
    height: 113px;
    gap: 8px;
    margin-bottom: 10px; 
}

.addTaskPrio {
    display: flex;
    height: 61px;
    gap: 10px;
}

.divPrio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 51px;
    border-radius: 10px;
    padding: 18px, 10px, 18px, 10px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 21px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.divPrio:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.prioIconUrgent {
    width: 20px;
    height: 14.51px;
}

.prioIconMedium {
    width: 20px;
    height: 7.45px;
}

.prioIconLow {
    width: 20px;
    height: 14.51px;
}

.addTaskDivSubtask {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;  
}

.addTaskAddSubtask {
    display: flex;
    align-items: center;
    height: 51px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 21px;
    color: #d1d1d1;
    background-color: #FFFFFF ;
}

.addTaskAddSubtask {
    display: flex;
    justify-content: space-between;
}

.subtaskIconPlus {
    width: 24px;
    height: 24px;
}

.addTaskButtons {
    display: flex;
    justify-content: right;
    margin-top: 25px;
    gap: 25px;
    width: 985px;
}

.clearButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 55px;
    background-color: transparent;
    padding: 18px,10px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 10px;
    border: 1px solid rgba(42, 54, 71, 1);
    gap: 10px;
}

.clearButton:hover {
    cursor: pointer;
    scale: 1.02;
    color: #29abe2;
    border-color: #29abe2;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.createButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
    height: 55px;
    color: #D1D1D1;
    background-color: rgba(42, 54, 71, 1);
    padding: 18px,10px;
    font-weight: 700;
    font-size: 21px;
    border-radius: 10px;
    border: 1px solid rgba(42, 54, 71, 1);
    gap: 10px;
}

.createButton:hover {
    cursor: pointer;
    background-color: #29abe2;
    border-color: #29abe2;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.xicon {
    width: 24px;
    height: 24px;
}

.hookIcon {
    width: 24px;
    height: 24px; 
}