* {
    margin: 0;
}

h1 {
    width: 176px;
    height: 73px;
    gap: 1px;
}

.header-container {
    height: 327px;
    width: 1145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 73px;
    width: 1078px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.board-header {
    height: 73px;
}

.board-header input {
    height: 55px;
    width: 423px;
    padding: 13px 21px 13px 21px;
}

.board-header button{
    width: 137px;
    height: 55px;
}