* {
    margin: 0;
}

h1 {
    width: 176px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
}

.header-container {
    position: absolute;
    height: 327px;
    width: 1145px;
    top: 57px;
    left: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 114px;
    left: 35pxpx;
    height: 73px;
    width: 1078px;
    display: flex;
    gap: 474px;
}

form {
    position: relative;
    display: flex;
    height: 55px;
    width: 423px;
    gap: 35px;
}

form .search-bar {
    height: 55px;
    width: 423px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 251px;
    height: 51px;
    border-radius: 10px;
    border: 1px solid white;

}

form button {
    color: white;
    width: 137px;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background-color: #2A3647;
    margin: 0;
}

form button img {
    filter: invert(100%);
}

input {
    width: 100%;
}

.search-icon {
    background-color: white;
}