* {
    margin: 0;
}

h1 {
    width: 176px;
    height: 73px;
    gap: 1px;
}

.header {
    height: 327px;
    width: 1145px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
}