* {
    margin: 0;
}

body {
    height: 100vh;
}

.contact-container {
    display: flex;
    height: calc(100% - 89px);
}

.contact-list {
    width: 453px;
    height: 100%;   /* Change for  */
    padding: 0 48px 0 48px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.contact-list::-webkit-scrollbar {
    width: 10px;
}

.contact-list::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 7px;
}

.contact-list::-webkit-scrollbar-thumb:hover {
    background: #808080;
  }

.letter {
    width: 357px;
    display: flex;
    flex-direction: column;
}

.letter-header {
    padding: 15px 25px 15px 25px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    font-family: inherit;
}

.horizontal-line {
    border: 0.5px solid #D1D1D1;
    height: 0px;
    margin-bottom: 22px;
    width: 323px;
}

.contact {
    height: 78px;
    padding: 15px 25px 15px 25px;
    display: flex;
    margin-left: -12px;
    align-items: center;
    border-radius: 10px;
}

.contact:hover {
    background-image: linear-gradient(rgb(250, 250, 250), rgb(235, 235, 235));
}

.icon {
    height: 42px;
    width: 42px;
    border-radius: 45px;
    margin-right: 30px;
    color: white;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info p {
    font-weight: 400;
    font-size: 20px;
}

.contact-info div {
    font-weight: 400;
    font-size: 16px;
    color: #007CEE;
}

.contact-display {
    width: 100%;
    padding: 82px 58px;
}

.contact-display-header {
    height: 73px;
    width: 569px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-display-header h2 {
    font-size: 61px;
    font-weight: 700;
}

.contact-display-header div {
    border: 1.5px solid #29ABE2;
    height: 59px;
    width: 0;
}

.contact-display-header p {
    font-weight: 400;
    font-size: 27px;
    color: #2A3647;
}

.chosen-contact-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 461px;
}

.name-icon {
    color: white;
    height: 120px;
    width: 120px;
    border-radius: 70px;
    border: 3px solid white;
    background-color: #FF7A00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: 500;
}

.contact-name {

}

.contact-name-part {
    font-size: 47px;
    font-weight: 500;
}

.task-button {
    display: flex;
    align-items: center;
}

.task-button img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #29ABE2;
}

.task-button p {
    font-size: 16px;
    font-weight: 400;
    color: #29ABE2;
}