.side-bar {
  position: fixed;
  left: 0;
  z-index: 800;
  height: 100vh;
  width: 232px;
  background-color: #2a3647;
  color: white;
  font-size: 16px;
}

@media (max-width: 700px) {
  .side-bar {
  height: 8vh;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  }
}

.join-logo {
  margin: 66px;
}

@media (max-width: 700px) {
  .join-logo {
    display: none;
  }
}

.side-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 50px;
}

@media (max-width: 700px) {
  .side-menu {
    flex-direction: column;
    padding: 0;
    margin-left: 10px;
    margin-top: 15px;
  }
}

.side-menu:hover {
  background: #091931;
  cursor: pointer;
}

.side-menu img {
  height: 25px;
  width: 25px;
  padding: 12px;
}

@media (max-width: 700px) {
  .side-menu img {
    padding: 3px;
  }
}

.side-bar span {
  padding: 5px;
}

.legal-notice {
  width: 100%;
  position: absolute;
  bottom: 120px;
}

@media (max-width: 700px) {
  .legal-notice {
    display: none;
  }
}

.top-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  padding-left: 116px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 21px;
}

@media (max-width: 700px) {
  .top-bar {
    margin-left: 0;
    left: 0;
    padding-left: 0;
  }
}

.join-logo-mobile {
  scale: 0.4;
  margin-left: -10px;
  display: none;
}

@media (max-width: 700px) {
  .join-logo-mobile {
    display: block;
  }

  .kanban-text {
    font-size: 16px;
    position: absolute;
    top: 125px;
    left: 20px;
  }
}

.top-bar-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

@media (max-width: 700px) {
  .top-bar-icons {
    display: none;
  }
}

.top-bar-icons-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

@media (min-width: 700px) {
  .top-bar-icons-mobile {
    display: none;
  }
}

.user-icon-border {
  width: 49px;
  height: 49px;
  border-radius: 100%;
  border: 3px solid #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
}

.user-icon {
  border-radius: 100%;
  width: 46px;
  height: 46px;
}

.user-initials {
  color: #29ABE2;
  font-weight: 600;
  font-size: 20px;
}

.btn-logout {
  width: 150px;
  position: absolute;
  top: 89px;
  right: 36px;
  border-radius: 20px;
  border-top-right-radius: 0;
  font-size: 16px;
  font-weight: 400;
  visibility: hidden;
}

@media (max-width: 700px) {
  .btn-logout {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    gap: 15px;
  }

  .btn-logout:hover {
    background-color: #2A3647;
  }
}

.log-out-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
}

#help {
  visibility: hidden;
}

#legalNotice {
  visibility: hidden;
}
