body {
  display: flex;
  justify-content: center;
  margin: 0;
}

#starting-animation {
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #f5f5f5;
  visibility: hidden;
  animation: bg-animation 1.5s;
}

@keyframes bg-animation {
  100% {visibility: visible; opacity: -1;}
  30% {visibility: visible; opacity: 1;}
  0% {visibility: visible; opacity: 1;}
}

.join-logo {
  position: absolute;
  left: 5.35%;
  top: 7.81%;
}

@media (max-width: 500px) {
  .join-logo {
    scale: 0.7;
    margin-top: -50px;
  }
}

.join-logo-animation {
  position: absolute;
  left: 5.35%;
  top: 7.81%;
  animation: logo-animation 1s;
  z-index: 999;
}

@keyframes logo-animation {
  100% {width: 100px;}
  15% {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 274px;}
  0% {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 274px;}
}

@media (max-width: 500px) {
  .join-logo-animation {
    scale: 0.7;
    margin-top: -50px;
  }
}

.box-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  position: absolute;  
}

@media (min-width: 700px) {
  .box-signup {
    top: 67px;
    right: 10%;
  }
}

@media (max-width: 700px) {
  .box-signup {
    top: 870px;
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .box-signup {
    top: 825px;
  }
}

.not-signup {
  font-weight: 400;
  font-size: 21px;
}

.btn-signup {
  font-size: 16px;
  width: 91px;
}

.box-login {
  flex-direction: column;
  padding: 35px 0px;
  gap: 35px;
  position: absolute;
  width: 652px;
  top: 274px;
}

@media (max-width: 700px) {
  .box-login {
    width: 93%;
  }  
}

@media (max-width: 500px) {
  .box-login {
    margin-top: -70px;
  }
}

.headline-login {
  font-weight: 700;
  font-size: 61px;
  text-align: center;
  color: #000000;
}

@media (max-width: 700px) {
  .headline-login {
    font-size: 50px;
    margin-bottom: 14px;
  }
}

@media (max-width: 700px) {
  .headline-login {
    margin-bottom: -20px;
  }
}

.border-bottom {
  border-bottom: #29abe2 3px solid;
  width: 150px;
  margin: 0;
}

.login-alerts {
  font-weight: 600;
  color: rgba(192, 0, 0, 0.712);
  position: absolute;
  top: 250px;
  z-index: 99;
  display: none;
}

.top235 {
  top: 235px;
}
.top310 {
  top: 310px;
}

.top330 {
  top: 330px;
}

.fa-eye {
  display: none;
  position: absolute;
  top: 19px;
  right: 20px;
  cursor: pointer;
  color: #a8a8a8;
}

.remember-me-container {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

@media (max-width: 500px) {
  .remember-me-container {
    flex-direction: column;
    align-items: start;
  }

  .remember-me-box {
    order: 2;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .forgot-my-password {
    order: 1;
    margin-top: 10px;
  }
}

#login-checkbox {
  height: 16px;
  width: 16px;
  cursor: pointer;
  scale: 1.2;
}

@media (max-width: 500px) {
  #login-checkbox {
    margin-bottom: 20px;
  }
}

.forgot-my-password {
  margin-left: 35px;
  color: #29abe2;
}

@media (max-width: 500px) {
  .forgot-my-password {
    margin-left: 0;
    margin-bottom: 35px;
  }
}

.login-btns {
  display: flex;
  justify-content: center;
  gap: 35px;
}

@media (max-width: 500px) {
  .login-btns {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.btn-login {
  width: 145px;
}

@media (max-width: 500px) {
  .btn-login {
    font-size: 16px;
    width: 200px;
  }
}

.btn-guest {
  font-weight: 700;
  width: 161px;
}

@media (max-width: 500px) {
  .btn-guest {
    font-size: 16px;
    width: 200px;
  }
}

.arrow-back {
  position: absolute;
  left: 5%;
  top: 41px;
}

.btn-send-email {
  width: 264px;
}

.box-forgot-password {
  width: 826px;
}

@media (max-width: 850px) {
  .box-forgot-password {
    width: 95%;
  }
}

.dont-worry {
  font-size: 21px;
  width: 75%;
  text-align: center;
  margin: 0;
  color: #000000;
}

#bg-sent-email {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  overflow: hidden;
  display: none;
}

.btn-sent-email {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 23px;
  gap: 13px;
}

@keyframes sent-email {
  0% {
    top: 95%;
  }

  100% {
    top: 50%;
  }
}

@media (max-width: 850px) {
  .headline-forgot-password {
    font-size: 50px;
    width: 75%;
  }
}

@media (max-width: 500px) {
  form {
    width: 91%;
  }

  input {
    margin-bottom: 25px;
  }
}

.signup-input-container {
  margin-bottom: -25px !important;
}

@media (max-width: 500px) {
  .signup-input-container {
    margin-bottom: 0px !important;
  }
}